body{
    background-color:#F3F5FC;
}
.headerClass{
    align-self: center;
}
#logo{
    width: Fixed (120px);
    height: Fixed (48px);
    top: 40px;
    left: 40px;
    gap: 40px;
}

main{   
}

textarea{
    position:absolute;
    resize:none;
    background-color: rgba(0,0,0,0);
    border:none;
    outline:none;
    width:577px;
    height:48px;
    top:168px;
    left:240px;
    color:#0A3871;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    line-height: 48px;
    font-weight: 400;
}

.areaMuestra{
    position: absolute;
    width: 350px;
    height: 600px;
    right: 50px;
    top: 50px;
    background-color: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

#monigote{
    position: absolute;
    width: auto;
    height: auto;
    top:15%
}

.cajaTexto{
    position:absolute;
    margin-top: 120%;
    width: auto;
    height: auto;
}

.cajaTextoChange{
    position:absolute;
    width: 100%;
    height: 60%;
}


textoCajaTexto{
/* Ningún mensaje fue encontrado */
width: 336px;
height: 58px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 80%;
line-height: 120%;
/* or 29px */
text-align: center;

/* Gray/gray-500 */
color: #343A40;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

/* Ingresa el texto que desees encriptar o desencriptar. */
.textoDebajoCajaTexto{
width: 336px;
height: 48px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 80%;
line-height: 150%;
/* or 24px */
text-align: center;

/* Gray/gray-400 */
color: #495057;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.textoMuestra{
    font-family: "Inter", sans-serif;
    color: #495057;
    text-overflow:ellipsis;
    overflow:scroll;
    word-wrap: break-word;
    width:100%;
    height: 100%;
    top:72px;
    left: 1032px;
    font-weight: 400;
    font-size:24px;
    line-height:36px;
}

.areaBoton{
    position: absolute;
    margin-top: 140%;
    width: auto;
    height: auto;
    margin-left:30%
}

.cajaBotones{
    position:absolute;
    left:25%;
    top:700px;
}

.button{
    width:250px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    cursor:pointer;
}
.encryptButton{
    background:#0A3871;
    color: #F3F5FC;
}

.decryptButton{
    background: #EFF1FA;
    color: #609ED4;
}

.copyButton{
    width: 125px;
    height: 25px;
    font-size: 10px;
    font-weight: bold;
    border-radius:10px;
    cursor:pointer;
    background:rgba(0,0,0,0)
}