body{
    background-color:#F3F5FC;
}
.headerClass{
    align-self: center;
}
#logo{
    width: Fixed (120px);
    height: Fixed (48px);
    top: 40px;
    left: 40px;
    gap: 40px;
}

main{   
}
textarea{
    resize:none;
    background-color: rgba(0,0,0,0);
    border:none;
    outline:none;
}
.areaMuestra{
    position: absolute;
    width: 20%;
    height: 100%;
    right:30%;
    top: 10%;
    background-color: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
#monigote{
    position: absolute;
    width: 336px;
    height: 304px;
    left: 0%;
    top: 20%;
}

.cajaTexto{
    margin-top: 150%;
    margin-left: 10%;
    width: auto;
    height: auto;
}


.textoCajaTexto{
/* Ningún mensaje fue encontrado */
width: 336px;
height: 58px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
/* or 29px */
text-align: center;

/* Gray/gray-500 */
color: #343A40;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

/* Ingresa el texto que desees encriptar o desencriptar. */
.textoDebajoCajaTexto{
width: 336px;
height: 48px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */
text-align: center;

/* Gray/gray-400 */
color: #495057;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}